body{
    display: grid;
    grid-template-columns: 2.7fr 1.3fr;
    grid-template-rows: 10vh 80vh  50vh 5vh;
  
  
    background-color: #0B1413;

}

header{
  
   
        background-image: linear-gradient(to right, #8F2029,#0B1413);
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns:0.1fr 1fr 1fr 1fr;
        justify-content: space-between;
        text-align: center;
        align-content:center;
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    font-size:20px;
   

}
main{
  
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


aside{
    grid-column-start: 2;
    grid-column-end: 3;

  
}

desc{
    grid-column-start: 1;
    grid-column-end: 3;

}
footer{
    
    grid-column-start: 1;
    grid-column-end: 3;
   
}


.casa{
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    border-style:hidden;
    text-align: center;
    
 
   
    box-shadow:5px 5px 5px black;
 
  width: 60%;
  height: 80%;
   
}




#sly{
    background: rgb(15,209,17);
background: linear-gradient(45deg, rgba(15,209,17,1) 2%, rgba(26,158,44,1) 8%, rgba(31,166,53,1) 14%, rgba(8,126,9,1) 20%, rgba(8,126,9,1) 61%, rgba(8,126,9,1) 70%, rgba(8,126,9,1) 72%, rgba(16,191,17,1) 94%);
}
#gryff{
    background: rgb(209,15,15);
background: linear-gradient(45deg, rgba(209,15,15,1) 2%, rgba(158,26,26,1) 8%, rgba(166,31,31,1) 14%, rgba(126,8,8,1) 20%, rgba(126,8,8,1) 61%, rgba(126,8,8,1) 70%, rgba(126,8,8,1) 72%, rgba(191,16,16,1) 94%);

    


}

#hup{
    background: rgb(209,158,15);
background: linear-gradient(45deg, rgba(209,158,15,1) 2%, rgba(209,151,14,1) 8%, rgba(166,133,31,1) 14%, rgba(149,132,43,1) 20%, rgba(126,105,8,1) 61%, rgba(126,105,8,1) 70%, rgba(125,115,19,1) 90%, rgba(128,114,11,1) 90%);
}

#rav{
    background: rgb(21,15,209);
background: linear-gradient(45deg, rgba(21,15,209,1) 2%, rgba(22,24,163,1) 8%, rgba(31,68,166,1) 14%, rgba(43,52,149,1) 20%, rgba(8,22,126,1) 61%, rgba(8,50,126,1) 70%, rgba(19,32,125,1) 88%, rgba(11,43,128,1) 94%);
}

.casa:hover
    { background-color: #e2aa1144; 

        transition: 0.5s;
        
        opacity: 0.7;
        
        }
        .menu:hover
        { background-color: #e2aa1144; 
        
        transition: 0.5s;
        
        opacity: 0.7;
        
        }
        

        p{
            grid-column-start: 1;
            grid-column-end: 3;
            
            
        }

       a:link, a:visited, a:active{
            text-decoration: none;
            color:#FFFFFF;
        }


#Cabeça{
    text-align: center;
    color: white;
    font-size:30px;
}

#Lista{
   
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: #FFFFFF;
    text-decoration: overline;
    text-overflow: ellipsis;
    text-shadow:3px 3px 3px #0B1413;
}

#Lista > p{
    margin-top: 30px;
}

